.shopsPage {
  display: flex;
  gap: 0;
  background-color: var(--color-black-1);
  border-radius: 8px;
  margin-top: 24px;
  overflow: hidden;
  min-height: calc(100vh - 270px);
}

@media (max-width: 768px) {
  .shopsPage {
    padding: 24px 16px;
  }
}
