.pricingCard {
  background-color: var(--color-black-1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 18px;
}

.pricingContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pricingRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pricingMetal {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.pricingCalculation {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-left: 8px;
}
