.catalystBucketsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalystBucketsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-top: 24px;
  gap: 10px;
}

.addBucketButtonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.searchBucketWrapper {
  width: 100%;
  max-width: 300px;
}

.addBucketButtonMobile {
  display: none;
}

.addBucketButtonWrapperMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.addButtonText {
  font-size: 13px;
  font-weight: 400;
  color: var(--color-secondary-500);
}

.tableWrapper {
  padding-inline: 5px;
}

.actionButtonsCell {
  display: flex;
  gap: 12px;
  padding: 3px;
}

@media (max-width: 768px) {
  .catalystBucketsHeader {
    display: none;
  }

  .addBucketButtonMobile {
    display: flex;
    margin-top: 16px;
    border: 1px solid var(--color-primary-400);
    border-radius: 8px;
    padding: 10px 12px;
    text-align: center;
  }

  .addBucketButtonMobile .addBucketButtonWrapperMobile {
    width: 100%;
    justify-content: center;
  }
}
