.productsPage {
  padding: 32px 48px;
}

.settingsContainer {
  display: flex;
  gap: 0;
  background-color: var(--color-black-1);
  border-radius: 8px;
  margin-top: 24px;
  overflow: hidden;
  min-height: calc(100vh - 270px);
}

.languagesHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 24px;
  margin-top: 16px;
}

.addButtonWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addButtonText {
  font-size: 13px;
  color: var(--color-secondary-500);
  font-weight: 400;
}

@media (max-width: 768px) {
  .productsPage {
    padding: 24px 16px;
  }
}
